section {
    background-color: #000;
    margin: 10px;
    position: relative;
    margin-top: 3px;
}

h3 {
    margin-top: 10px;
    line-height: 10px;
    position: absolute;
    z-index: 99;
}

#map-canvas {
    height: 300px;
    width: 600px;
}

.overlay {
    width: 180px;
    height: 50px;
    display: none;
    z-index: 99;
    box-sizing: border-box;
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.6);
    content: "\25BC";
    position: absolute;
    text-align: center;
    padding: 12px;
    padding-top: 0;
    padding-bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 10px;
}

.mark:hover {
    cursor: hand;
}

.pietip {
    width: 150px;
    height: 30px;
    display: none;
    z-index: 99;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
    padding: 12px;
    padding-top: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
}

#bar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    height: 0px;
    width: 600px;
    float: left;
}

#ratingSector-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    color: #ffffff;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    height: 0px;
    width: 620px;
    float: left;
}

#Sector-overlay {
    position: absolute;
    top: 20px;
    left: 30px;
    right: 0;
    bottom: 0;
    background: #000;
    background: rgba(0, 0, 0, 1);
    color: #ffffff;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    height: 0px;
    width: 540px;
    float: left;
}

.close {
    line-height: 12px;
    width: 18px;
    font-size: 14pt;
    margin-top: 1px;
    margin-right: 2px;
    position: absolute;
    top: 10px;
    left: 540px;
    cursor: pointer;
    color: #fff;
}

.axis path,
.axis line {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.bar,
.barPie {
    fill: #05739D;
}

.bar:hover,
.barPie:hover {
    fill: #095DA2;
}

.tick {
    fill: white;
    color: #fff;
    font-size: 10px;
}

.x.axis path
.x.axis line {
    display: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

#yaxis g text {
    fill: #fff;
    color: #fff;
    font-size: 14px;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(255, 255, 255, 1);
    color: #000;
    opacity: 1;
    z-index: 10000;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #fff;
    content: "\25BC";
    position: absolute;
    text-align: center;
    opacity: 1;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

form {
    position: absolute;
    right: 10px;
    top: 10px;
}

#xaxis .domain {
    fill: white;
    stroke: #fff;
}

#xaxis text, #yaxis text {
    font-size: 12px;
    fill: white;
}

#horizontalBar svg {
    margin-top: -15px;
    padding-left: 30px
}

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #2B8CB1;
    stroke-width: 2px;
}

.node text {
    font: 10px sans-serif;
    fill: white;
    color: white;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
    stroke-opacity: 0.3;
}

.country {
    fill: #817f7b;
    stroke-linejoin: round;
}

#barpieUtil,
#secbarpieutil {
    width: 230px;
    float: left;
}

td#sectree {
    width: 230px;
}

.y {
    font-size: 10px;
    fill: white;
}

#barpieUtil svg.shadow {
    margin-left: 40px
}

#secbarpieutil svg.shadow {
    margin-left: 40px
}

#FakeID {
    border: 0px;
    font-size: 12px;
    vertical-align: middle;
    background-color: #000;
    color: #fff;
}

.StyledButton {
    -moz-box-shadow: 0px 10px 12px -7px #276873;
    -webkit-box-shadow: 0px 10px 12px -7px #276873;
    box-shadow: 0px 10px 12px -7px #276873;
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 7px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    height: 30px;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
}

.StyledButton:hover {
    background-color: #408c99;
}

.StyledButton:active {
    position: relative;
    top: 1px;
}

div.fileinputs {
    position: relative;
    margin-bottom: 30px;
}

div.fakefile {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

input.file {
    position: relative;
    top: 5px;
    text-align: right;
    -moz-opacity: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    z-index: 2;
}

.treemap {
    border: solid 1px #000;
    line-height: 0.95;
    overflow: hidden;
    position: absolute;
    border-radius: 6px;
    color: #000;
}

.treemap div {
    padding: 6px 4%;
}

.treemap:hover {
    -moz-box-shadow: 0 0 10px white;
    -webkit-box-shadow: 0 0 10px white;
    box-shadow: 0 0 10px white;
    cursor: pointer;
    z-index: 99;
}

svg {
    background-color: #000;
}

form {
    color: #fff;
    position: fixed;
    top: 15px;
    left: 300px
}

.stats {
    border: solid 2px;
    height: 25px;
    width: 150px;
    float: left;
    margin-left: 20px;
    position: absolute;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

